[Unit]
Description=Service for Stripe
After=docker.service

[Service]
WorkingDirectory=%h/stripe
Type=fork
ExecStartPre=/bin/bash bin/pull-all.sh
ExecStart=/usr/bin/docker-compose up --build
ExecStop=/usr/bin/docker-compose stop
Restart=always
RestartSec=5sec

TimeoutStartSec=infinity

[Install]
WantedBy=default.target
